# {{ ansible_managed }}

driftfile {{ ntpd_driftfile }}

{% for item in ntpd_servers %}
server {{ item }}
{% endfor %}

# by default act only as a basic NTP client
restrict -4 default nomodify nopeer noquery notrap
restrict -6 default nomodify nopeer noquery notrap

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1

